<section class="block-details">
    <header class="clearfix">
        <div class="pull-left item-main-pict">
            <img ng-src="{{packageInfos.image}}" >
        </div>
        <div class="pull-right item-main-infos">
            <ul>
                <li class="item-main-title">
                    <h1 data-ng-bind="packageInfos.name"></h1>
                </li>
                <li class="item-main-description">
                    <p data-ng-bind="packageInfos.description"></p>
                </li>
            </ul>
        </div>
    </header>
    <article class="items items-selected clearfix"  data-ng-repeat="item in packageInfos.selected" data-ng-show="packageInfos.selected.length > 0">
        <div class="item-article-qte">
            <input data-ng-model="item.quantity"/>
        </div>
        <div class="item-article-multiply">
            x
        </div>
        <div class="item-article-infos">
            <h2 class="item-article-name" data-ng-bind="item.name"></h2>
            <div> 
                <span  data-ng-repeat="dietaryRequirements in item.dietaryRequirements">
                    <img data-ng-src="https://citypantry.com/{{dietaryRequirements.icon}}" />
               </span>
           </div>
        </div>
    </article>
    <article class="items items-unselected clearfix"  data-ng-repeat="item in packageInfos.unSelected" data-ng-show="packageInfos.unSelected.length > 0">
        <div class="item-article-infos">
            <h2 class="item-article-name" data-ng-bind="item.name"></h2>
            <div> 
                <span  data-ng-repeat="dietaryRequirements in item.dietaryRequirements">
                    <img data-ng-src="https://citypantry.com/{{dietaryRequirements.icon}}" />
                </span>
            </div>
        </div>
    </article>
</section>